<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <!-- ALWAYS ADD THIS BEFORE ADDING ANY CSS -->
  <base href="/"> 
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
